<div style="width: 80%; margin: 0 auto; height:60px; border-bottom:2px solid; margin-top:-20px;" >

<div style="width:30%; float:left; text-aling:center; margin:5px; margin:left:20px;">

	 <center><b>All</b></center> 

	<div style="width:45%; border-radius:5px; float:left; border-style:solid; text-align:center; margin-right:4px;"> 
		<%= link_to "Ending First", "all" %> 
	</div>

	<div style="width:45%; border-radius:5px; float:left; border-style:solid; text-align:center; margin-right:4px;"> 
		<%= link_to "Lowest Price", "all?type=1" %> 
	</div>

	
</div>

<div style="width:30%; float:left; text-aling:center; margin:5px;">

	<center><b>Buy It Now</b></center>
	<div style="width:45%; border-radius:5px; float:left; border-style:solid; text-align:center; margin-right:4px;"> 
		<%= link_to "Ending First", "all?type=2" %> 
	</div>


	<div style="width:45%; border-radius:5px; float:left; border-style:solid; text-align:center; margin-right:4px;"> 
		<%= link_to "Lowest Price", "all?type=3" %> 
 	</div>

</div>

<div style="width:30%; float:left; text-aling:center; margin:5px;">

	<center><b>Bid Only</b></center>
	<div style="width:45%; border-radius:5px; float:left; border-style:solid; text-align:center; margin-right:4px;"> 
		<%= link_to "Ending First", "all?type=4" %> 
	</div>


	<div style="width:45%; border-radius:5px; float:left; border-style:solid; text-align:center; margin-right:4px;"> 
		<%= link_to "Lowest Price", "all?type=5" %> 
 	</div>

</div>
<br>

</div>