<footer class="footer">
  <small>
    UConn Tickets by Team 6
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
      <li><%= link_to "Ratings", rate_path %></li>
      <li><%= link_to "Rate Us", rateus_path %></li>
            <li><%= link_to "Apply", apply_path %></li>

      <li><%= link_to "Applicants", applicants_path %></li>
    </ul>
  </nav>
</footer>

